body {
  background-color: steelblue;
  margin: 20px;
  overflow: hidden
}

.flex {
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}
.container-links{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.links{
  width: 100%;
  font-size: 0.9em;
  margin: 0.5rem;
}
.links:hover{
  cursor: pointer;
  color: steelblue;
}
.container-login{
	width: 400px;
	background-color: rgba(255,255,255,0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
  padding: 0px 30px 30px 30px;
}

.img-login{
	width: 70px;
  margin-top: 23px;
  margin-left: 14px;
  color: #fff;
}

.container-login .opcoes img{
	width: 20px;
	height: 20px;
	margin: -30px 0 50px 140px;
}

.container-login ul{
	margin-top: 30px;
  padding: 0;
	float: center;
  list-style-type: none;
}

.container-login li a{
  width: fit-content;
	font-size: 0.9em;
	display: block;
	padding: 0.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #000;
  cursor: pointer;
  text-align: center;
}

.container-login ul a:hover{
	color: steelblue;
}

input {
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

button{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 20px;
	height: 45px;
	width: 90%;
	font-size: 1.5em;
  margin-top: 30px;
  cursor: pointer;
}
.button {
  color: #fff;
	border: none;
	background: -webkit-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: -moz-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: -o-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: linear-gradient(to bottom, #3e6f98, #6ccce4);
}

.button:hover{
  background: -webkit-linear-gradient(to bottom, #3e6f98d7, #6ccce4e1);
	background: -moz-linear-gradient(to bottom, #3e6f98d7, #6ccce4e1);
	background: -o-linear-gradient(to bottom, #3e6f98d7, #6ccce4e1);
	background: linear-gradient(to bottom, #3e6f98d7, #6ccce4e1);
}

.button-light{
  border: solid 1px #3e6f98;
  color: #3e6f98;
  background-color: rgba(255, 255, 255, 0);
}

.button-light:hover{
  background: -webkit-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: -moz-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: -o-linear-gradient(to bottom, #3e6f98, #6ccce4);
	background: linear-gradient(to bottom, #3e6f98, #6ccce4);
  color: #fff;
  border: none;
}

.erroLogin {
  display: flex;
  width: 100%;
  color: red;
  font-style: italic;
  margin-bottom: .5rem;
  font-size: small;
}
.items-center{
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.usuario {
  float: right;
  cursor:pointer;
}

.tipo {
  height: 20px;
  width: 20px;
}

.tipo-usuario{
  font-size: 18px;
}

.fundo-usuario{
  background: linear-gradient(to bottom, #3e6f98, #6ccce4);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
  top: -60px;
  margin: auto;
}

.colegio{
  width: 70%!important;
}

.container-colegio{
  margin: 1rem;
  border: solid 1px #3e6f98;
  border-radius: 10px;
}

.turma-lista{
  padding: 0 30px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.elemento-turma{
  border: solid 1px #3e6f98;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  width: fit-content;
}
/*#caixaUsuario {
  display: none;
}

.formulario {
  display: none;
  margin-top: 10px;
  background-color: white;
  padding: 1rem;
  position: absolute;
  right: 1.3rem;
  top: 4rem;
}

#senha-login {
  margin-bottom: .5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

b {
  color: snow;
  font-size: 50px;
  margin-bottom: 10px;
}

a > button {
  height: 100px;
  width: 500px;
  border-radius: 5px;
  color: steelblue;
  font-size: 30px;
  font-weight: bold;
  background-color: lightgray;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

img {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.perfil {
  display: none;
  background-color: whitesmoke;
  padding: 1em;
}
/*